.filter {
  width: 751px;
  height: 80px;
  display: flex;
  margin: 14px 0px 20px 0;
  padding: 20px 24px;
  border-radius: 3px;
  background-color: #eee;
}
.restButton {
  width: 172px;
  font-family: "Lato" !important;
  height: 40px;
  text-transform: uppercase !important;
  padding: 12px 67px 12px 69px !important;
  border-radius: 3px !important;
  background-color: #3971c1 !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  font-stretch: normal !important;
  font-style: normal !important;
}
